html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_title .advantages_ul_title_content h2, .main .main_content .product .product_content .product_title .product_title_content h2, .main .main_content .about_us .about_us_content .about_us_title .about_us_title_content h2, .main .main_content .contact_us .contact_us_content .contact_us_title .contact_us_title_content h2 {
  font-size: 26px;
  font-weight: 900;
  color: #E60012;
  margin-top: 10px;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_text .list_box_1_text_content h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  margin-top: 10px;
}

.header, .header .header_content .logo .logo_content a, .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img, .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img .advantages_ul_box_img_content, .main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box, .footer .footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 790px) {
  body {
    background-size: initial;
  }
}

.spacer {
  height: 0;
  transition: height 0.3s ease;
}

.spacer:active {
  height: 80px;
}

.header {
  position: relative;
  width: 100%;
  height: 70px;
}

.header .header_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header .header_content .logo {
  width: 20%;
}

.header .header_content .logo .logo_content a {
  width: 250px;
  height: 70px;
  background-color: #E60012;
}

.header .header_content .menu_language {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_content .menu_language .menu_language_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header .header_content .menu_language .menu_language_content .hamburger {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  user-select: none;
}

.header .header_content .menu_language .menu_language_content .menu {
  width: 60%;
}

.header .header_content .menu_language .menu_language_content .nav-menu {
  display: flex;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
  margin: 0 auto;
  width: 100%;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.5;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li {
  margin: 0 6px;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a:hover {
  color: #410005;
}

.header .header_content .menu_language .menu_language_content .show {
  display: block;
}

.header .header_content .menu_language .menu_language_content .language {
  width: 20%;
  position: relative;
  display: flex;
  margin-left: 20px;
}

.header .header_content .menu_language .menu_language_content .language .language_content {
  margin: 0 auto;
}

.header .header_content .menu_language .menu_language_content .language .language_content .dropdown-toggle {
  font-size: 16px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(230, 0, 18, 0.6);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span {
  color: black;
  padding: 21px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span:hover p {
  transform: scale(1.5);
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span p {
  color: #fff;
  margin-left: 22px;
  font-size: 12px;
  transition: font-size 4s ease-in-out;
  transition: all 0.4s ease-out;
}

.header .header_content .menu_language .menu_language_content .language .show {
  display: block;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #E60012;
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.fixed .header_content .menu_language .menu_language_content .menu .menu_content ul li a {
  color: #fff;
}

@media screen and (max-width: 1156px) {
  .header .header_content .menu_language .menu_language_content .hamburger {
    display: block;
    color: #000000;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
    width: 100%;
    line-height: 4;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li {
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
    color: #fff;
    width: 100%;
    display: inline-block;
    margin: 0 20px;
  }
  .header .header_content .menu_language .menu_language_content .show {
    display: flex;
    z-index: 3;
    background: rgba(230, 0, 18, 0.8);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.banner {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner .banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner_content img {
  width: 100%;
}

@media screen and (max-width: 1666px) {
  .banner {
    width: 100%;
  }
}

@media screen and (max-width: 847px) {
  .banner {
    width: 100%;
  }
}

.main {
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 473px;
  background: url(../images/advantages_img.png) no-repeat center center;
  z-index: -1;
}

.main .main_content {
  margin: 0 auto;
}

.main .main_content .advantages {
  position: relative;
  padding-top: 60px;
}

.main .main_content .advantages .advantages_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_text {
  position: relative;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content .advantages_text_img {
  position: relative;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content .advantages_text_img .advantages_text_img_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content .advantages_text_p {
  position: relative;
  margin-top: 47px;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content .advantages_text_p .advantages_text_p_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_text .advantages_text_content .advantages_text_p .advantages_text_p_content p {
  font-size: 16px;
  color: #000000;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

.main .main_content .advantages .advantages_content .advantages_ul {
  position: relative;
  margin-top: 65px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_title {
  position: relative;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_title .advantages_ul_title_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list {
  position: relative;
  margin-top: 88px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li {
  width: 12%;
  border: 2px solid #E60012;
  border-radius: 16px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(8) {
  border: none;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(odd) {
  animation: advantages_ul_list_content_odd 13s ease-in-out infinite;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(even) {
  animation: advantages_ul_list_content_even 13s ease-in-out infinite;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box {
  position: relative;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img {
  position: relative;
  height: 150px;
  background-color: #E60012;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img .advantages_ul_box_img_content {
  margin: 0 auto;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img .advantages_ul_box_img_content svg {
  width: 40%;
  padding: 10px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_text {
  position: relative;
  height: 100%;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_text .advantages_ul_box_text_content {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_text .advantages_ul_box_text_content h3 {
  color: #E60012;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}

.main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_text .advantages_ul_box_text_content p {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

.main .main_content .product {
  position: relative;
  overflow: hidden;
}

.main .main_content .product .product_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .product .product_content .product_title {
  position: relative;
  padding-top: 73px;
}

.main .main_content .product .product_content .product_title .product_title_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .product .product_content .product_list {
  position: relative;
  padding-top: 90px;
  padding-bottom: 150px;
}

.main .main_content .product .product_content .product_list .product_list_content {
  margin: 0 auto;
  max-width: 1618px;
}

.main .main_content .product .product_content .product_list .product_list_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box {
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content {
  margin: 0 auto;
  padding: 60px;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_img {
  margin: 0 auto;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_img .list_box_1_img_content {
  margin: 0 auto;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_img .list_box_1_img_content img {
  width: 80%;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_text {
  position: relative;
  margin-top: 10px;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_text .list_box_1_text_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .product_list_box .product_list_box_content .list_box_1_text .list_box_1_text_content h3 {
  margin: 0;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_1 {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #000;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_2 {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #7A6FFF;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_3 {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #EF7938;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_4 {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #2D86FE;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_5 {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #47a6ff;
}

.main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_6 {
  position: relative;
  width: 90%;
  height: 90%;
  box-shadow: none;
}

.main .main_content .product .product_content #marqueeContainer_2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: -1;
  opacity: 0.3;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .marquee-track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .marquee-track .marquee-item {
  flex-shrink: 0;
  padding-right: 10px;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .marquee-track .marquee-item img {
  height: 120px;
  width: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .scroll-left {
  animation: marqueeContainer_2-left 150s linear infinite;
  animation-play-state: running;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .scroll-left img {
  margin: 0 20px;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .scroll-right {
  animation: marqueeContainer_2-left 150s reverse linear infinite;
  animation-play-state: running;
}

.main .main_content .product .product_content #marqueeContainer_2 .marquee-line .scroll-right img {
  margin: 0 20px;
}

.main .main_content .about_us {
  position: relative;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.main .main_content .about_us::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 281px;
  height: 473px;
  z-index: 1;
  background: url(../images/about_us_img.png) no-repeat center center;
}

.main .main_content .about_us::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #E60012;
}

.main .main_content .about_us .about_us_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .about_us .about_us_content .about_us_logo {
  position: relative;
  padding-top: 91px;
}

.main .main_content .about_us .about_us_content .about_us_logo .about_us_logo_content {
  margin: 0 auto;
}

.main .main_content .about_us .about_us_content .about_us_title {
  position: relative;
  padding-top: 60px;
}

.main .main_content .about_us .about_us_content .about_us_title .about_us_title_content {
  margin: 0 auto;
}

.main .main_content .about_us .about_us_content .about_us_title .about_us_title_content h2 {
  color: #fff;
}

.main .main_content .about_us .about_us_content .about_us_text {
  position: relative;
  padding-top: 60px;
}

.main .main_content .about_us .about_us_content .about_us_text .about_us_text_content {
  width: 50%;
  margin: 0 auto;
}

.main .main_content .about_us .about_us_content .about_us_text .about_us_text_content p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 2;
}

.main .main_content .about_us .about_us_content .about_us_img {
  position: relative;
  padding-top: 73px;
}

.main .main_content .about_us .about_us_content .about_us_img .about_us_img_content {
  margin: 0 auto;
}

.main .main_content .about_us .about_us_content .about_us_img .about_us_img_content .rwd_marquee-container {
  display: block;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  padding-bottom: 68px;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line {
  width: 100%;
  height: 126px;
  overflow: hidden;
  position: relative;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line .marquee-track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line .marquee-track .marquee-item {
  flex-shrink: 0;
  padding-right: 10px;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line .marquee-track .marquee-item img {
  height: 120px;
  width: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line .scroll-left {
  animation: scroll-left 180s linear infinite;
  animation-play-state: running;
}

.main .main_content .about_us .about_us_content .about_us_img .marquee-line .scroll-right {
  animation: scroll-left 180s reverse linear infinite;
  animation-play-state: running;
}

.main .main_content .contact_us {
  position: relative;
  background-color: #E60012;
}

.main .main_content .contact_us .contact_us_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .contact_us .contact_us_content .contact_us_title {
  position: relative;
  padding-top: 56px;
}

.main .main_content .contact_us .contact_us_content .contact_us_title .contact_us_title_content {
  margin: 0 auto;
}

.main .main_content .contact_us .contact_us_content .contact_us_title .contact_us_title_content h2 {
  color: #fff;
}

.main .main_content .contact_us .contact_us_content .contact_us_text {
  position: relative;
  padding-top: 55px;
  padding-bottom: 42px;
}

.main .main_content .contact_us .contact_us_content .contact_us_text .contact_us_text_content {
  margin: 0 auto;
}

.main .main_content .contact_us .contact_us_content .contact_us_text .contact_us_text_content a {
  line-height: 2;
  color: #fff;
  text-decoration: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeContainer_2-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes advantages_ul_list_content_odd {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes advantages_ul_list_content_even {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1617px) {
  .main .main_content .product::after {
    width: 100%;
  }
  .main .main_content .product .product_content .product_list .product_list_content ul li {
    width: 90%;
  }
  .main .main_content .product .product_content .product_list .product_list_content ul li a .list_box_6 {
    display: none;
  }
}

@media screen and (max-width: 1120px) {
  .main::before {
    width: 0;
  }
  .main::after {
    width: 0;
  }
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li {
    width: 38%;
  }
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(8) {
    border: none;
  }
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(odd) {
    animation: none;
  }
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li:nth-child(even) {
    animation: none;
  }
}

@media screen and (max-width: 860px) {
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li .advantages_ul_box .advantages_ul_box_content .advantages_ul_box_img .advantages_ul_box_text .advantages_ul_box_text_content {
    padding: 10px;
  }
  .main .main_content .about_us::before {
    width: 0;
  }
  .main .main_content .about_us .about_us_content .about_us_text .about_us_text_content {
    width: 90%;
  }
}

@media screen and (max-width: 765px) {
  .main .main_content .advantages .advantages_content .advantages_text .advantages_text_content {
    width: 90%;
  }
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li {
    width: 45%;
  }
}

@media screen and (max-width: 280px) {
  .main .main_content .advantages .advantages_content .advantages_ul .advantages_ul_content .advantages_ul_list .advantages_ul_list_content ul li {
    width: 90%;
  }
}

.footer {
  position: relative;
}

.footer .footer_content {
  width: 100%;
  height: 40px;
  max-width: 1618px;
  margin: 0 auto;
  text-align: center;
}

.footer .footer_content p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.float {
  position: fixed;
  right: 0;
  bottom: 4%;
  z-index: 2;
}

.float .float_content {
  margin: 0 auto;
  background: rgba(230, 0, 18, 0.8);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 85px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.float .float_content ul {
  padding: 0.5px;
}

.float .float_content ul li {
  margin: 20px 0;
}

.float .float_content ul li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.float .float_content ul li a p {
  font-size: 11px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  line-height: 1.8;
}

.float .float_content ul span {
  border-bottom: 2px solid #ffffff;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.float_rwd {
  position: relative;
  display: none;
}

.float_rwd .float_rwd_content {
  margin: 0 auto;
}

.float_rwd .float_rwd_content ul li {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  background: rgba(230, 0, 18, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.float_rwd .float_rwd_content ul li a {
  text-decoration: none;
  padding: 10px;
}

.float_rwd .float_rwd_content ul li a img {
  width: 30px;
}

@media screen and (max-width: 500px) {
  .float {
    display: none;
  }
  .float_rwd {
    position: fixed;
    right: 10px;
    bottom: 100px;
    display: block;
    z-index: 2;
  }
}
